<div class="header" style="width:100%;" >
    @Html.Widget("header")
    <div class="header-upper"style="width:80%;margin:auto;">
        <div class="header-selectors-wrapper">
            @Html.Action("TaxTypeSelector", "Common")
            @Html.Action("CurrencySelector", "Common")
            @Html.Action("LanguageSelector", "Common")
            @Html.Widget("header_selectors")
        </div>
        <div class="header-links-wrapper">
            
            @Html.Action("HeaderLinks", "Common")
            @Html.Action("FlyoutShoppingCart", "ShoppingCart")
            
        </div>
    </div>
    <div class="header-lower">

        @Html.Action("CarouselBlock", "Carousel")





        @*<div class="header-logo">
            @Html.Action("Logo", "Common")
        </div>
        <div class="search-box store-search-box">
            @Html.Action("SearchBox", "Catalog")
        </div>*@

    </div>
</div>
